<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>

        {% load static %}
        {% load bootstrap3 %}

        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>

        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {# Display django.contrib.messages as Bootstrap alerts #}
        {% bootstrap_messages %}

        <script src='{% static "js/bootstrap-filestyle/1.2.3/bootstrap-filestyle.min.js" %}'></script>

        {% block head %}{% endblock%}

    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                <a class="navbar-brand" href="#">VSWPRINTER</a>
                </div>
                <ul class="nav navbar-nav">
                <li class="active"><a href="..">Home</a></li>
                </ul>
            </div>
        </nav>

        {% block content %}
        {% endblock %}
    </body>
</html>
