{% extends "printto/base.html" %}

{% load static %}
{% load bootstrap3 %}
{% load sass_tags %}

{% block title %}PrintTo{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <form enctype="multipart/form-data" method="post" class="form">
                {% csrf_token %}
                <p><strong>Upload PDF file for print to printer:</strong></p>
                <input type="file" class="filestyle" name="file">
                <br />
                <button type="submit" class="btn btn-primary">
                    {% bootstrap_icon "star" %} Upload
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

