{% extends "printto/base.html" %}

{% load static %}
{% load sass_tags %}

{% block title %}PrintTo{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <form enctype="multipart/form-data" method="post" class="form">
                {% csrf_token %}
                <p><strong>Upload file for print (Only accept *.pdf):</strong></p>
                {% comment %} The attribute 'accept' only works above ie10 {% endcomment %}
                <input type="file" class="filestyle" name="file" accept=".pdf">
                <br />
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-star"></span> Print
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

